.form-section {
  min-height: 90vh;
  @include flex(center, center, row);
  margin-top: 3rem;
  form {
    padding: 3rem 10rem;
    background: $orange;
    @include flex(center, center, column);
    border-radius: 2rem;

    input,
    textarea {
      margin: 2rem;
      &:focus {
        outline: 2px solid black;
      }
    }
    textarea {
      font-family: "Poppins", sans-serif;
      font-size: 2rem;
    }
    button {
      width: 100%;
      padding: 2rem;
      background-color: $green;
      color: white;
      &focus {
        background: rgb(51, 105, 107);
      }
    }
  }
}
